html, body, .container, .site {
	height: 100%;
	font-weight: 800;
	font-family: 'Open Sans';
}

h1, h2 {
	margin: 0;
	color: white;
	text-transform: uppercase;
}

header {
	margin-left: calc( 50% - (176px / 2) );
	margin-left: -webkit-calc( 50% - (176px / 2) );
	display: inline-block;
}

h1 {
	text-decoration: none;
}

h2 {
	font-size: 1.2em;
}

h1 span {
	color: black;
	font-size: 1.03em;
}

.tile {
	position: relative;
	display: inline-block;
	margin-right: -4px;
	width: -webkit-calc( 100% / 3 );
	width: calc( 100% / 3 );
	height: -webkit-calc( 100% / 5 );
	height: calc( 100% / 5 );
	background: white;
	color: #111;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.tile:hover {
	background: rgb(243,113,41);
	/* -webkit-transition: all .3s; */
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tile:hover a {
	color: white;
	/* -webkit-transition: all .3s; */
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

.tile a {
	position: absolute;
	top: -webkit-calc(50% - 12px);
	top: calc(50% - 12px);
	display: block;
	width: 100%;
	height: 50px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.tile:nth-child(odd) {
	background: #f2f2f2;
}

.tile:nth-child(odd):hover {
	color: white;
	background: rgb(243,113,41);
	/* -webkit-transition: all .3s; */
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tile:nth-child(odd):hover a {
	color: white;
	/* -webkit-transition: all .3s; */
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tiles {
	display: inline-block;
	width: 69.9%;
	height: 100%;
}

aside {
	display: inline-block;
	margin-right: -4px;
	width: 30%;
	height: 100%;
	background: rgb(243,113,41);
	vertical-align: top;
}

aside img {
	display: block;
	margin: 0 auto;
	width: 175px;
	padding-top: 20px;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 20px;
	color: white;
	font-weight: 200;
	font-size: .7em;
	width: 100px;
	display: block;
	padding-bottom: 10px;
}

footer p {
	margin: 0;
	padding: 0;
}

footer a {
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	aside {
		display: block;
		width: 100%;
		height: auto;
	}
	header {
		display: inline-block;
		margin: 0;
	}
	aside img {
		width: 100px;
		padding: 20px;
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}
	.tile {
		font-size: .7em;
	}
	.tiles {
		width: 100%;
	}
	h1, h2 {
		display: inline-block;
		vertical-align: top;
	}
	h1 {
		margin-top: 50px;
	}
	h2 {
		padding-left: 0;
		margin-top: 55px;
	}
	footer {
		position: relative;
	}
}

@media only screen and (max-width: 460px) {
	aside {
		height: auto;
	}
	aside img {
		vertical-align: top;
	}
	header {
		display: inline-block;
		margin-top: 20px;
	}
	h1, h2 {
		display: block;
		margin: 0;
		padding: 0;
	}
}

@media only screen and (min-width: 1200px) {
	aside {
		width: 20%;
	}
	.tiles {
		width: 79.9%;
	}
}