<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
        <link rel="stylesheet" href="bower_components/open-sans-fontface/open-sans.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    
    <body>

        <div class="container">
          <div class="site">
            <aside>
            	<img src="img/tete-fallback@2x.png" alt="" />
            	<header>
					<h2>Le <br> soundboard</h2>
					<h1>Laurent <br/> <span>Garnier</span></h1>
				</header>
				<footer>
					<p>Crafted by <a href="http://integralstudios.be">▲</a></p>
				</footer>
            </aside>
            {{ content }}
		  </div>
        </div>
    </body>
</html>
